root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 8
indent_style = tab
trim_trailing_whitespace = true

[*.rc]
charset = utf-8-bom

[*.{md,rst}]
trim_trailing_whitespace = false

[*.{cff,yml}]
indent_size = 2
indent_style = space
